.adminAddingForm {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.adminAddingForm label {
    display: block;
    margin-bottom: 5px;
}

.adminAddingForm input[type="text"],
.adminAddingForm input[type="number"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.adminAddingForm #dropzone {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.adminAddImage {
    width: 100%;
    margin-bottom: 10px;
}

.adminAddImage img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.adminAddButton {
    background-color: teal;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adminAddButton:hover {
    background-color: darkslategrey;
}
.adminRemoveForm {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.adminRemoveForm label {
    display: block;
    margin-bottom: 5px;
}

.adminRemoveForm input[type="text"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.adminRemoveImage {
    width: 100%;
    margin-bottom: 10px;
}

.adminRemoveImage img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.adminRemoveButton {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adminRemoveButton:hover {
    background-color: #c82333;
}

.adminPage {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: teal;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #2980b9;
}

.content {
    flex: 1;
    padding: 20px;
}
